@import 'variables';
@import 'queries';
@import 'mixins';
*{
    padding:0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    &:after, &:before{
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
    }
}
html{
    font-size: 16px;
    font-family: $font-wholePage;
    line-height: 1.6;
}
h1, h2, h3, h4{
    font-family: $font-headings;
}
ul{
    list-style: none;
}
.clearfix:after{
    display:table;
    clear: both;
    content: "";
}
.bg-header{
    background-color: $color-white;
    background-color: $color-lightBlue;
    color: $color-darkGrey;
    border-bottom:1rem solid $color-medBlue;
    border-top:1rem solid $color-darkBlue;
    position: relative;
    &:after, &:before{
        content:"";
        position:absolute;
        bottom:-1rem;
        width:30%;
        height:1rem;
        background-color: $color-darkBlue;
    }
    &:before{
        left:0;
    }
    &:after{
        right:0;
    }
}
.bg-focal{
    background-color: $color-lightBrown;
    color: $color-darkBrown;
}
.bg-content1{
    background-color: $color-white;
    color: $color-darkGrey;
}
.bg-content2{
    background-color: $color-lightBlue;
    color: $color-darkBlue;
}
.bg-footer{
    background-color: $color-white;
    color: $color-lightGrey;
}
header{
    width: 400px;
    margin: 0 auto;
    position: relative;
    @include tablet{
        width: 700px;
        min-height: 8rem;
        &:before, &:after{
            width: 230px;
        }
    };
    @include desktop{
        width: 900px;
        &:before, &:after{
            width:300px;
        }
    };
    @include large-device{
        width: 1400px;
        &:before,
        &:after{
            width:450px;
        }
    };
    h1{
        width: 100%;
        padding: 0 2rem;
        color: $color-darkBrown;
        letter-spacing: 0.1rem;        
        @include desktop{
            color: $color-darkBlue;
        };
        i.fa-lg{
            display:block;
            width: 25%;
            float:left;
            font-size: 7rem;
            line-height: 12.7936rem;
            color: $color-lightBrown;
            @include tablet{
                @include fa-lg;
                color: $color-darkBrown;
            };
            @include desktop{
                @include fa-lg;
                color: $color-darkBlue;
            };
            @include large-device{
                @include fa-lg;
                color: $color-darkBrown;
            };
            ~ span{
                float: right;
                width: 75%;
                font-size: 3.998rem;
                padding-left: 1rem;
                text-align: right;
                @include tablet{
                    @include h1Span;
                };
                @include desktop{
                    @include h1Span;
                };
                @include large-device{
                    @include h1Span;
                };
            }
        }
    }
    
    nav{
        padding:2rem 0;
        clear: both;
        width: 100%;
        @include tablet{
            @include navMenu;
        };
        @include desktop{
            @include navMenu;
        };
        @include large-device{
            @include navMenu;
        };
        >ul li{
            width:100%;
            float: none;
            @include tablet{
                width:20%;
                float: left;
            };
            @include desktop{
                width:20%;
                float: left;
                background-color: $color-white;
                &:first-child a{
                    border-left:none;
                }
            };
            @include large-device{
                width:20%;
                float: left;
                background-color: $color-white;
                &:first-child a{
                    border-left:none;
                }
            };
            &>a{
                display:block;
                text-align: center;
                text-decoration: none;
                color: $color-darkGrey;    
                font-size: 1.414rem;
                letter-spacing: 0.25rem;
                border:1px solid $color-lightGrey; 
                border-bottom: none;
                padding:1.0rem 2rem;
                line-height: 1;
                background-color: $color-white;
                @include tablet{
                    @include ulLiA(1rem, 2rem, 6rem, none, 1px solid $color-lightGrey, 1.0rem);
                    &:last-child{
                        border-right:1px solid $color-lightGrey;
                    }
                };
                @include desktop{
                    @include ulLiA(1rem, 2rem, 2rem, none, 1px solid $color-lightGrey, 0 1.0rem);
                    margin: 1.0rem 0;
                };
                @include large-device{
                    @include ulLiA(1.414rem, 2rem, 2rem, none, 1px solid $color-lightGrey, 0 1.0rem);
                    margin:1.0rem 0;
                };
                &:hover{
                    font-weight: 700;
                    color: $color-darkBrown;
                }
            }
        }
    }
}
%sectionsFooter{
    @include tablet{
        width: 700px !important;
        margin: 0 auto !important;
    };
    @include desktop{
        width: 900px !important;
        margin: 0 auto !important;
    };
    @include large-device{
        width: 1400px !important;
        margin: 0 auto !important;
    };
}
section{
    &.focal{
        width: 400px;
        margin: 0 auto;
        @extend %sectionsFooter;
        & h2{
            font-size: 1.999rem;
            line-height: 1.2;
            padding: 2rem 2rem 1rem 2rem;
            
            @include desktop{
                width: 600px; 
                margin: 0 auto;
            };
            @include large-device{
                font-size: 3.998rem;
                width: 600px; 
                margin: 0 auto;
            };
        }
        & .author{
            font-size: 1rem;
            padding: 0.2rem 2rem 2rem;
            @include desktop{
                width: 600px;
                margin: 0 auto;
            }
            @include large-device{
                width: 600px; 
                margin: 0 auto;
            };
        }
    }
    &.content1{
        padding: 2rem 0;
        @extend %sectionsFooter;
        .col-3{
            @include desktop{
                @include equalSpaced(3, 5%, 100%);
            }
            @include large-device{
                @include equalSpaced(3, 5%, 100%);
            }
        }
        h3{
            font-size:1.999rem;
            padding: 0.2rem 2rem 2rem;
            @include desktop{
                font-size: 1.999rem;
                font-weight: 100;
            };
            @include large-device{
                font-size: 2.827rem;
                font-weight: 100;
            };
            .fa-2x{
                @include desktop{
                    font-size: 1.999rem;
                    padding-right: 1rem;
                };
                @include large-device{
                    font-size: 2.827rem;
                    padding-right: 1rem;
                    vertical-align: middle;
                };
            }
            i{
                vertical-align:middle;
                padding-right: 2rem;
            }
        }
        p{
            font-size: 1.414rem;
            padding: 0.5rem 2rem 2rem;
        }
    }
    &.content2{
        padding: 2rem 0;
        @extend %sectionsFooter;
        .col-4{
            @include tablet{
                @include equalSpaced(2, 0%, 100%);
            };
            @include desktop{
                @include equalSpaced(4, 4%, 100%);
            };
            @include large-device{
                @include equalSpaced(4, 4%, 100%);
            };
        }
        h4{
            font-size: 1.999rem;
            padding: 1rem 2rem 0rem;
            @include tablet{
                font-size: 1.414rem;
            };   
            @include desktop{
                font-size: 1.414rem;
            };
        }
        li{
            padding: 0.5rem 2rem;
            font-size: 1.414rem;   
            @include large-device{
                font-size: 1.999rem;
            }
        }
        p{
            font-size: 1.414rem;
            padding: 0.5rem 2rem 1rem;
            @include desktop{
                font-size: 1rem;
                font-weight: 400;
            };
            @include large-device{   
                font-weight: 400;
            };
        }
    }
}
.row{
    clear: both;
}
footer{
    padding:2rem 0;
    @extend %sectionsFooter;   
    .col-2{
        width:50%;
        float:left;
        padding-bottom: 2rem;
        border-left:1px solid $color-darkBlue;
        margin-bottom: 2rem;
        &:first-child{
            border-left: 0;
        }
        &:last-child{
            @include tablet{
                unicode-bidi: bidi-override;
                direction: rtl;
            };
        }
    }
    h4{
        font-size: 1.414rem;
        padding: 0.5rem 2rem;
        color: $color-darkBrown;
        &[lang=de]{
           display:block;
            @include tablet{
                display: none;
            };
            @include desktop{
                display: none;
            }
            @include large-device{
                display: none;
            };
        }
        &[lang=en]{
            display: none;
            @include large-device{
                display: block;
            };
        }
        &[lang=ar]{
            display: none;
            @include tablet{
                display: block;
            };
        }
        &[lang=ru]{
            display: none;
            @include desktop{
                display: block;
            };
        }
    }
    p{
        font-size: 1rem;
        padding: 0.5rem 2rem;
        color: $color-darkGrey;
        @include large-device{
            font-size: 1.414rem;
            letter-spacing: 0.2rem;
        };
        
    }
    .fa-circle{
        color: $color-darkGrey;
        @include tablet{
            color: $color-medBlue;
        };
        @include desktop{
            color: $color-lightBrown;
        };
        @include large-device{
            color: $color-medBlue;
        };
    }
}